@model List<SoccerWorld.Models.PhanLoai>
    @foreach (var x in Model)
    {
        <a class="dropdown-item" href="@Url.Action("ListPageCategory", "Home", new { id = x.IDPhanLoai })">@x.TenPhanLoai</a>
    }
