@model List<SoccerWorld.Models.HinhAnh>

@if (Model.Count < 1)
{
    <div class="carousel-item active">
        <img class="d-block w-100 img-thumbnail img-fluid "  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" alt="...">
    </div>
}
else
{
    int j = 0;
    foreach (var x in Model)
    {
        j++;
        var active = j == 1 ? "active" : "";
        <div class="carousel-item @active ">
            <img class="d-block w-100 img-thumbnail img-fluid" src="@x.URL" alt="...">
        </div>
    }

}






