@model List<SoccerWorld.Models.MauSac>



@if (Model.Count<1)
{
    <option value="0">Không có màu</option>
}
else
{
    foreach (var i in Model)
    {
        <option value="@i.IDMau" name="mau">@i.TenMau</option>
    }
}

