@model List<SoccerWorld.Models.Kichco>

@if (Model.Count()<1)
{
    <option value="0">Không có cỡ</option>
}
else
{
    foreach (var i in Model)
    {
        <option value="@i.IDKichCo">@i.Mota</option>
    }
}





